.ImageBox
{
    border-radius: 0.5em 0.5em 0px 0px;
    border: 2px solid black;
    position:relative
}

.ImageBox img
{
    display: block;
    object-fit: contain;
    width: 100%;
}

.TextCentered
{  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-Size: 5em;
    color: white; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ProgramName
{
    background-color: white;
    color: black;
    margin: 0; 
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0px 0px 0.5em 0.5em;
    text-align: left;
    border: 2px solid black;
}