<Yourflix>
    <Database location="/usr/share/yourflix/yourflix.db"/>
    <WebRoot location="/var/www/html"/>
    <!--VideoRoot is the location in the WebRoot which contains the Videos-->
    <VideoRoot location="Videos"/>
    <FileTypes>
        <Video types="MP4,WebM,Ogg"/>
        <Image types="PNG,BMP,GIF,ICO,JPEG,JPG"/>
    </FileTypes>
</Yourflix>