
.SearchInput
{
    vertical-align: middle;
    font-size: 100%;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid;
    padding: 3px;
    border-color: #8057e9;
    width: 100%;
    margin-left: -2.5em;
    height: 1.75em;
}

.SearchButton
{
    vertical-align: middle;
    font-size: 100%;
    border-color: #8057e9;
    color: #8057e9;
    background-color: #00000000;
    border-radius: 0px 10px 10px 0px;
    border: 3px solid;
    padding: 3px;
    margin:0;
}

.SearchButton img
{
    vertical-align: middle;
    filter: #8057e9;
    height: 1.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.SearchButton:hover
{
    border-color: #8057e9;
    background-color: #00000000;
    color: white;
}

.SearchButton:active
{
    background-color: #8057e9;
    color: white;
    transform: translateY(0);
}

.dropdown {
    position: relative;
    display: inline-block;
    width:50%;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content
{
    display: block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    overflow: auto;
    border: 2px solid #8057e9;
    z-index: 1;
    width: 100%;
    margin-left: -2em;
}
.dropdown-content div:hover {
    background-color: #a6a6a6;
    border: solid #8057e9;
    border-width: 2px 1px;
}

.dropdown-content div {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    white-space: initial;
}