[Unit]
Description=Autoscan YourFlix Scanner
After=multi-user.target

[Service]
Type=idle
ExecStartPre=/usr/bin/python3 /usr/share/yourflix/yf_SystemCheck.py
ExecStart=/usr/bin/python3 /usr/share/yourflix/yf_scanner.py
Restart=always

[Install]
WantedBy=multi-user.target