.VideoInfoBar
{
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.PrevContent
{    
    vertical-align: middle;
    height: 5em;
    float: left;
}

.NextContent
{
    vertical-align: middle;
    height: 5em;
    float: right;
}

.CurrentName
{
    margin-top: 0px;
    vertical-align: middle;
    text-align: center; 
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Arrow
{
    height: 3em;
    vertical-align: middle;
}
.IndexButton
{
    height: 4em;
    width: 5em;
    background-color: #8057e9;
    border: none;
}